.Rproj.user
.Rhistory
.RData
.Ruserdata
Rplots.pdf
vignettes/*.html
vignettes/*.aux
vignettes/*.log
vignettes/*.out
vignettes/*.tex
vignettes/*.bbl
vignettes/*.blg
vignettes/*.pdf
vignettes/*.R
vignettes/*.pdf
vignettes/figure/*.pdf
*.synctex.gz
docs/
pkgdown/
*.log
.DS_Store
doc/
Meta/
tests/vdiffr.Rout.fail
inst/doc
/doc/
/Meta/
lib/
README.html
