export(MinimalInformative)
export(Quantiles2LogisticNormal)
export(approximate)
export(dose)
export(extract)
export(logit)
export(maxDose)
export(maxSize)
export(mcmc)
export(minSize)
export(nextBest)
export(prob)
export(sampleSize)
export(saveSample)
export(size)
export(stopTrial)
exportClasses("Simulations-summary")
exportClasses(CohortSize)
exportClasses(CohortSizeConst)
exportClasses(CohortSizeDLT)
exportClasses(CohortSizeMax)
exportClasses(CohortSizeMin)
exportClasses(CohortSizeRange)
exportClasses(Data)
exportClasses(DataDual)
exportClasses(Design)
exportClasses(DualEndpoint)
exportClasses(Increments)
exportClasses(IncrementsRelative)
exportClasses(IncrementsRelativeDLT)
exportClasses(LogisticKadane)
exportClasses(LogisticLogNormal)
exportClasses(LogisticNormal)
exportClasses(LogisticNormalFixedMixture)
exportClasses(LogisticNormalMixture)
exportClasses(McmcOptions)
exportClasses(Model)
exportClasses(NextBest)
exportClasses(NextBestDualEndpoint)
exportClasses(NextBestMTD)
exportClasses(NextBestNCRM)
exportClasses(Samples)
exportClasses(Simulations)
exportClasses(Stopping)
exportClasses(StoppingAll)
exportClasses(StoppingAny)
exportClasses(StoppingCohortsNearDose)
exportClasses(StoppingList)
exportClasses(StoppingMTDdistribution)
exportClasses(StoppingMaxPatients)
exportClasses(StoppingMinCohorts)
exportClasses(StoppingMinPatients)
exportClasses(StoppingPatientsNearDose)
exportClasses(StoppingTargetBiomarker)
exportClasses(StoppingTargetProb)
exportMethods(approximate)
exportMethods(as.list)
exportMethods(extract)
exportMethods(fitted)
exportMethods(initialize)
exportMethods(plot)
exportMethods(show)
exportMethods(simulate)
exportMethods(summary)
exportMethods(update)
importFrom(BayesLogit,logit)
importFrom(GenSA,GenSA)
importFrom(R2WinBUGS,bugs)
importFrom(R2WinBUGS,write.model)
importFrom(ggplot2,aes)
importFrom(ggplot2,geom_bar)
importFrom(ggplot2,geom_density)
importFrom(ggplot2,geom_histogram)
importFrom(ggplot2,geom_hline)
importFrom(ggplot2,geom_line)
importFrom(ggplot2,geom_point)
importFrom(ggplot2,geom_step)
importFrom(ggplot2,geom_text)
importFrom(ggplot2,geom_vline)
importFrom(ggplot2,ggplot)
importFrom(ggplot2,qplot)
importFrom(ggplot2,scale_colour_manual)
importFrom(ggplot2,scale_linetype_manual)
importFrom(ggplot2,scale_y_continuous)
importFrom(ggplot2,xlab)
importFrom(ggplot2,xlim)
importFrom(ggplot2,ylab)
importFrom(ggplot2,ylim)
importFrom(graphics,hist)
importFrom(graphics,plot)
importFrom(gridExtra,arrangeGrob)
importFrom(methods,initialize)
importFrom(methods,is)
importFrom(methods,new)
importFrom(methods,prototype)
importFrom(methods,representation)
importFrom(methods,setClass)
importFrom(methods,setGeneric)
importFrom(methods,setMethod)
importFrom(methods,setOldClass)
importFrom(methods,signature)
importFrom(mvtnorm,rmvnorm)
importFrom(parallel,clusterApply)
importFrom(parallel,detectCores)
importFrom(parallel,makeCluster)
importFrom(parallel,mclapply)
importFrom(parallel,stopCluster)
importFrom(rjags,jags.model)
importFrom(rjags,jags.samples)
