article.blg
article.log
article.pdf
article.tex
figure
cache
review
article-concordance.tex
article.synctex.gz
article.R
auto
submission
submission.zip
article.aux
article.bbl
article.dvi
article.out
article.tex~
